<div class="toDoList">
    <form (submit)="addToDo()">
        <input type="text"
            name="inputToDo"
            placeholder="Enter next task..."
            class="toDoList-input"
            [(ngModel)]="inputTodo"
        />
        <input type="submit" value="Add ToDo" class="toDoList-submit">
    </form>
    <div class="allToDos">
        <div *ngFor="let todo of todos; let i = index" class="singleToDo {{( 
            todo.completed 
            ?'done'
            : 'undone' )}}" >

            <div class="id">{{ i +1 }}</div>
            <div class="content"(click)="toggleDone(i)">{{ todo.content}}</div>
            <button class="deleteButton" (click)="deleteToDo(i)">Remove Todo</button>
        </div>
    </div>
</div>
