.toDoList   
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center

    & form
        align-items: center
        display: flex
        flex-direction: column

    &-input
        appearance: none
        background-color: #F3F3F3
        border: 2px solid #FE4880
        display: block
        font-size: 20px
        margin-top: 15px
        outline: none
        padding: 10px 15px
        width: 80%

    &-submit
        appearance: none
        background-color: #FE4880
        border: none
        color: #FFF
        display: block
        font-size: 18px
        font-weight: 700
        margin: 15px auto
        max-width: 200px
        outline: none
        padding: 10px 15px
        width: 100%

.allToDos
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    width: 80%    

.singleToDo
    align-items: center
    background-color: white
    border-bottom: 2px solid black
    display: flex
    padding: 10px 15px
    width: 80%

    &:nth-child(even)
        background-color: #c9c6c6
        
    &:last-of-type
        border-bottom: 0

    .id
        flex: 1 1 50px
        font-weight: bolder

    .content
        flex: 1 1 100%
    
    &.done .content
        color: green
        text-decoration: line-through
    &.undone .content
        color: red